include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md
include xatmos/hitran*txt.gz
include xatmos/orders.txt
include xatmos/atmos.txt.gz
exclude xatmos/hitran_converter.py
exclude NOTES.txt
exclude xatmos_venv
